* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.lp {
    width: 100vw;
    height: 100vh;
    background: url("./HERO\ BG.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

li {
    list-style: none;
}

nav {
    color: #fff;
    height: 50px;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

nav ul {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    font-weight: 5 00;
}

.reserve {
    position: relative;
    width: 340px;
    height: 460px;
    /* border: 2px solid gray; */
    margin-top: 50px;
    margin-left: 80px;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    padding: 17px;
    background-color: #fff;
    border-radius: 5px;
    color: #484848;
    /* border-radius: 5px; */
}

.reserve p span {
    font-size: 26px;
    font-weight: 500;
}

.input {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.reserve input {
    width: 100%;
    padding: 10px;
    border: 1px solid #E3E3E3;

    margin: 5px 0;
}

.input2 {
    width: 100%;
    display: flex;
    /* justify-content: center; */
}

.input2_1 {
    width: 50%;
}

.input2_2 {
    width: 50%;
}

.redbtn {
    position: absolute;
    padding: 12px 19px;
    background: #FF5A5F;
    border-radius: 4px;
    border: 0;
    color: #fff;
    bottom: 15px;
    right: 15px;
}

.lpc {
    width: 100vw;
    min-height: 100vh;
    padding: 15px 50px;
    color: #484848;

}

.cnt1_img {
    height: fit-content;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

.cnt1_img_1 {
    width: 33%;
    /* height: 50px; */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.cnt1_img_1 img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.cnt1_img_1_cnt {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-left: 15px;
    border-radius: 10px;
}

/* ------------------------------- */
.cnt2_container {
    height: 250px;
    background: url("./cnt/Rectangle\ 5.png");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn {
    background-color: #fff;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 15px 20px;
    margin-top: 15px;
}

.btn button {
    border: 0;
    background-color: transparent;
}

.btn img {
    margin-left: 8px;
}

.cnt3_container {
    display: flex;
    justify-content: space-between;
}

.cnt3_container_box {
    width: 200px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: coral; */
}

.cnt3imgcontainer {
    width: 200px;
    height: 250px;
}

.cnt3imgcontainer img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.cnt3cnt {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 93%;
    height: 100%;
}

.cnt3cnt p span {

    font-size: 15px;
}

.gridbox {
    display: grid;
    grid-template-columns: repeat(4, 290px);
    justify-content: space-between;
    gap: 20px;
}

.box1 {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}

.box p {
    font-weight: 500;
    color: #484848;
}

.box1_1 button {
    padding: 7px;
    border: 1px solid #484848;
    margin-right: 7px;
    background-color: transparent;
}

.box1 span {
    font-weight: 500;
}

.box1_2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1_2 span {
    margin-left: 4px;
}

.cnt5box1 {
    width: 390px;
    height: 240px;
}

.cnt5img1 {
    background: url("./cnt5/Image\ \(12\).png");
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 7px;
}

.cnt5img1 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cnt5img2 {
    background: url("./cnt5/Image\ \(13\).png");
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 7px;
}

.cnt5img2 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cnt5img3 {
    background: url("./cnt5/Image\ \(14\).png");
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 7px;
}

.cnt5img3 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cnt5box1 span {
    color: #914669;
    font-weight: 500;
    /* margin-top: 4px; */
}

.cnt5box1 p {
    margin-top: 6px;
}

.cnt5box {
    display: flex;
    justify-content: space-between;
}

.cnt5 {
    margin-bottom: 200px;
}